/* Animação da Barra de Input Text */
@keyframes glow {
    0% {box-shadow: 0 0 15px rgba(168, 85, 247, 0.4);}

    50% {box-shadow: 0 0 30px rgba(59, 130, 246, 0.7);}

    100% {box-shadow: 0 0 15px rgba(168, 85, 247, 0.4);}
}

/* Definição do tamanho do container */
.container {
    display: flex;
    position: fixed;

    top: 100px;
    width: 100vw;
    height: 100vh;

    background-color: white;

    margin-left: 250px
}

/* Mensagem de boas vindas */
.welcome {
    position: absolute;

    left: 25vw;
    top: 20vh;

    background-color: white;

    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 50px;

    white-space: nowrap;
}

/* Barra de Input text*/
.input_text {
    position: absolute;

    width: 700px;
    height: 40px;

    left: 21.9vw;
    top: 300px;
    padding-left: 50px; /* Posição das mensagens dentro da Box */

    border: 1px solid transparent;
    border-radius: 20px;
    
    background-color: white;

    animation: glow 10s infinite; /* Call da animação */
    
    font-family: "Outfit", sans-serif;
}

/* Barra de Input text quando é clicada*/
.input_text:focus {
    outline: none;
}

/* Botão + */
.button {
    position: fixed;

    width: 35px;
    height: 30px;

    background: white;
    color: black;

    font-size: 25px;
    font-weight: lighter;
    
    margin-left: 22.5vw;
    margin-top: 307px;

    border: none;
}

/* Footer da Página */
.footer {
    position: fixed;

    top: 95vh;
    margin-left: 38vw;

    font-family: "Outfit", sans-serif;
}


/* Mudar frases, continuar a trabalhar aparência, tipo de fonte, trabalhar o tempo dos exemplos, comentar código*/